

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

h1 {
  letter-spacing: .05em;
  padding: 10px;
  font-size: 6em;
  text-transform: uppercase;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
}

.right {
  height: 100%;
  padding: 10px;
}

p {
  margin: 5px;
  font-size: 2em;
}

h3{
  font-size: 4em;
}

.divider {
  width: 100px;
  height: 2px;
  background-color: red;
  margin: 10px auto 5px auto;
}

@media (max-width: 1500px) {
  h1 {
    font-size: 2em;
  }
  p {
    font-size: .66em;
  }
  h2 {
    font-size: .5em;
  }
  h3 {
    font-size: 1.5em;
  }
}

