@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100');

body {
  margin: 0;
  font-family: 'Lexend', sans-serif;
  font-weight: 100;
  /* font-family: 'IBM Plex Serif', serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(250, 244, 244);
  background-color: rgb(8, 12, 32);
}
